body {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	margin: 0;
}

#title {
	width: auto;
	padding: 18px 0 0 18px;
	font-size: 24px;
	background-color: #222;
	color: white;
	cursor: pointer;
}

#menu {
	overflow: hidden;
	background-color: #222;
}

.menu-item {
	float: left;
	color: white;
	text-align: center;
	cursor: pointer;
	padding: 18px;
}

.menu-item:hover .menu-item-content {
	max-height: 1000px;
    transition: max-height .4s ease-in-out; 
}

.menu-item-content {
	top:103px;
	left:0px;
	position: absolute;
	background-color: white;
	min-width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-height: 0;
	overflow: hidden;
    transition: all .2s ease-in-out; 
}

.menu-item-content a {
	float: none;
	color: black;
	display: block;
	text-align: left;
	height: 57px;
    transition: background-color .3s ease-in-out; 
}

.menu-item-content a .text {
	position: absolute;
	margin: 18px 0px 18px 18px;
}

.menu-item-content a .icon {
	float: right;
}

.menu-item-content a .lock {
	margin: 19.5px;
	font-size: 18px;
	color: rgba(0,0,0,.5);
}

.menu-item-content a .star {
	float: right;
	margin: 10.5px;
	font-size: 36px;
	color: rgba(212, 175, 55, 1);
}

.menu-item-content a:hover {
	background-color: #ddd;
	width: 100%;
}


select, input {
	display: inline;
	border: 0;
	outline: dotted thin #ccc;
	margin: 0px 8px;
	padding: 4px 8px;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align: center;
	text-align-last: center;
	-moz-text-align-last: center;
}

select:hover {
	cursor: pointer;
}

.main {
	width: 80%; 
	margin: 18px auto;
	line-height: 2;
}

.material-icons.md-light { color: white; }
.material-icons.md-30 { font-size: 30px; }

.payoffmatrix {
	margin-left: 25%;
}

.payoffmatrix td {
	padding: 4px 8px;
	text-align: center;
}

.welcome { font-size: 30px; }
.heading { font-weight: bold; }
.space { padding-top: 9px; }
.hide { display: none; }
.ital { font-style: italic; }

canvas {
	margin: 0 auto;
	display: block;
}

.collapsible {
	background-color: #f0f0f0;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
}

.active, .collapsible:hover {
	background-color: #ddd;
}

.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.feedback {
	text-decoration: none;
	color: rgba(200,100,100,.8);
	font-weight: normal;
	font-size: 16px;
	margin-left: 24px;
}

.feedbackFormDiv {
	position: absolute;
	width: 100%;
	height: 85%;
	background-color: #fff;
	text-align: center;
}

.feedbackForm {
	margin: auto auto;
	width: 640px;
	height: 600px;
	border: none;
}

.innerLinks {
	color: rgba(0,0,100,1);
	position: relative;
	text-decoration: none;
	font-weight: normal;
	margin-left: 18px
}

.innerLinks::before {
	content: '';
	color: rgba(0,0,100,1);
	background-color: rgba(0,0,100,1);
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .2s;
}

.innerLinks:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

#feedback { color: rgba(100,0,0,1); }
#feedback::before {
	color: rgba(100,0,0,1);
	background-color: rgba(100,0,0,1);
}

#submit { color: rgba(0,100,0,1); }
#submit::before { 
	color: rgba(0,100,0,1); 
	background-color: rgba(0,100,0,1);
}

#output {
	position: absolute;
	top: 0;
	left: 35%;
	width: 30%;
	margin: 112px auto;
	text-align: center;
	background-color: white;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

#output .right {
	padding: 18px;
	box-shadow: 0px 8px 16px 0px #afa;
	border: solid #8d8;
}

#output .wrong {
	padding: 18px;
	box-shadow: 0px 8px 16px 0px #faa; 
	border: solid #d88;
}

#output.vis {
	opacity: 1;
}